<main>
    <section class="form-section">
        <img src="/assets/svg/Logo.svg" alt="logo">
        <h2>{{ title }}</h2>
        <div class="button-wrapper">
            <button class="btn-prymary">{{ primaryBtnText }}</button>
            <div>
                <span>OR</span>
            </div>
            <button class="btn-secundary">{{ secondaryBtnText }}</button>
        </div>        
    </section>
    <section class="main-section">
        <h1>You Shoud. MoveIt!</h1>
        <img src="/assets/svg/main-illustration.svg" alt="main-illustration">
    </section>
</main>
